h1 {
    color: rgba(193, 90, 90, 0.347);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: rgba(168, 113, 122, 0.736);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
}

.text {
    color: rgb(7, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

.ingredients {
    color: rgb(7, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 13px;
}

.star {
    height: auto;
    width: 12px;
}

.return {
    color: rgb(7, 7, 7);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 10px;
    font-weight: bold;
}

.heart {
    height: auto;
    width: 13px;
}